* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.logo {
    width: 130px;
    margin: 20px;
    margin-left: 20px;
}

#home {
    height: 114vh;
    background-color: #f6d2b3;
}

#home h3 {
    position: absolute;
    top: 14px;
    margin-left: 28%;
    display: inline-flex;
    font-family: 'Roboto Nono', sans-serif;
    font-size: 50px;
}

#home pre {
    position: absolute;
    margin-left: 20.5%;
    top: 70px;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 44px;
}

#menu {
    width: 40px;
    position: absolute;
    top: 6vh;
    right: 4vw;
    cursor: pointer;
}

#menubar {
    /* display: none; */
    background-color: aliceblue;
    position: fixed;
    top: 0;
    right: -60vw;
    height: 100vh;
    width: 22%;
    z-index: 10;
    transition: all .1s ease-in;
}

#menubar #close {
    width: 30px;
    position: relative;
    top: 6vh;
    left: 3vw;
    cursor: pointer;
}

#menubar a {
    font-size: 26px;
    font-family: 'Sansita Swashed', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000;
}

#menubar ul {
    margin-top: 16vh;
    margin-left: 3vw;
}

#menubar ul li {
    margin-top: 20px;
}

.main {
    margin-top: 20px;
}

.img1, .img2 {
    margin: 0 12%;
}

.img1 {
    width: 25%;
    margin-left: 22vw;
}

.img2 {
    width: 22%;
    margin-left: 0;
}

.main p {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1%;
}

.main .p {
    font-size: 24px;
    left: 22.5%;
}

.main .p2 {
    font-size: 19.8px;
    left: 59.7%;
}

#home .pre {
    display: none;
    position: absolute;
    right: 21%;
    top: 42px;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

/* Mobiles Screen */

@media only screen and (max-width: 440px) {
    #home {
        height: 140vh;
    }
    .logo {
        width: 50px;
        margin-left: 10px;
        margin-top: 4.5%;
    }
    #home h3 {
        top: 16px;
        right: 19%;
        font-size: 26px;
        margin-right: 10vw;
    }
    #home pre {
        display: none;
        /* margin-left: 0;
        top: 10%;
        font-size: 25px; */
    }
    #home .pre {
        display: block;
    }
    #menu {
        width: 28px;
        /* position: absolute; */
        top: 3.5vh;
        /* right: 4vw; */
    }
    #menubar {
        width: 60%;
    }
    #menubar #close {
        left: 7vw;
        width: 24px;
        top: 3.5vh;
    }
    #menubar ul {
        margin-left: 6vw;
        margin-top: 12vh;
    }
    #menubar ul li {
        margin-top: 16px;
    }
    #menubar a {
        font-size: 20px;
    }
    .main {
        margin: 60px 0;
    }
    .img1 {
        position: relative;
        width: 76%;
        margin-left: 12vw;
    }
    .img2 {
        width: 65%;
        position: relative;
        left: 16%;
        margin-top: 18vh;
    }
    #home .p {
        margin-top: 2.5%;
        font-size: 22px;
        left: 12%;
    }
    .main .p2 {
        margin-top: 2%;
        font-size: 15px;
        left: 16%;
    }
}

/* Tab Screens */

@media only screen and (max-width: 900px) and (min-width: 500px) {
    #home {
        height: 92vh;
    }
    .logo {
        width: 130px;
        margin: 20px 20px;
    }
    #home h3 {
        font-size: 58px;
        right: 30%;
        top: 28px;
    }
    #home pre {
        right: 18.6%;
        top: 100px;
        font-size: 50px;
    }
    #menu {
        top: 3.5vh;
    }
    #menubar {
        width: 32%;
    }
    #menubar a {
        font-size: 34px;
    }
    #menubar ul {
        margin-top: 10vh;
    }
    #menubar #close {
        top: 3.5vh;
    }
    .main {
        margin-top: 200px;
        display: flex;
    }
    .img1 {
        width: 40%;
        position: relative;
        margin-top: -10px;
        margin-left: 7vw;
    }
    .img2 {
        width: 38%;
        position: relative;
        right: 4vw;
        margin-top: 15%;
    }
    .main .p {
        font-size: 3.4vw;
        margin-top: 52%;
        left: 7%;
    }
    .main .p2 {
        margin-top: 52%;
        font-size: 20.5px;
        left: 55%;
    }
}

#products {
    background-color: rgba(250, 255, 240);
    overflow-x: hidden;
}

#products h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
}

#products ._1 {
    padding-top: 6%;
    padding-bottom: 4%;
}

#products ._2 {
    padding-top: 4%;
    padding-bottom: 4%;
}

#products .sec1, #products .sec2 {
    position: relative;
    margin-left: 2vw;
    text-align: left;
    display: flex;
    height: 340px;
    flex-direction: row;
    /* overflow-x: hidden; */
    transition: all .4s ease;
}

#products .sec1 a, #products .sec2 a {
    margin-top: 35px;
    /* transform: translateY(-50%); */
}

.canvas img, .pencile img, .customize img {
    width: 140px;
}

#products .sec1 {
    /* margin: 0 6%; */
    margin-bottom: 5%;
    width: min-content;
}

.canvas .sec1 {
    /* position: relative;
    left: 5vw; */
    margin-bottom: 5%;
    width: min-content;
}

.pencile .sec1, .pencile .sec2 {
    margin: 0 1vw;
}

#main1 {
    width: min-content;
    margin: 0 1.5vw;
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

#main2 {
    width: min-content;
    margin: 0 1.5vw;
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

#main5 {
    width: min-content;
    margin: 0 1.5vw;
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.con1, .con2, .con3, .con4, .con5, .con6 {
    background-color: aliceblue;
    height: min-content;
    width: 100%;
}

#products .back, #products .next {
    width: 70px;
    /* height: 70px; */
    position: absolute;
    margin-top: 20%;
    /* transform: translateY(-50%); */
    cursor: pointer;
    /* opacity: 0.9; */
    z-index: 20;
    display: none;
}

/* #products .con5 .back, #products .con5 .next {
    top: 100%;
    transform: translateY(-360%);
} */

.back {
    left: 2.5vw;
    display: none;
}

.next {
    right: 2.5vw;
}

#products small {
    color: #63a007;
}

.desc p {
    padding-bottom: 8px;
}

.more {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 170px;
    height: 40px;
    background-color: transparent;
    border: 2px solid orangered;
    color: orangered;
    border-radius: 8px;
    font-size: 22px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.more pre {
    font-family: 'Sansita Swashed', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.more .hide {
    margin-left: -100%;
    width: 100%;
    height: 100%;
    background-color: orangered;
    transition: all .5s ease-in-out;
}

.more:hover .hide, .more:hover {
    margin-left: 0;
    color: white;
}

/* Mobiles Screen */

@media only screen and (max-width: 440px) {
    #products {
        height: auto;
    }
    #products h2 {
        font-size: 24px;
    }
    #products ._1 {
        margin-top: -2%;
        margin-bottom: -8%;
    }
    #products ._2 {
        margin-top: -6%;
        margin-bottom: -8%;
    }
    .canvas img {
        width: 95px;
    }
    .customize img {
        width: 95px;
    }
    #main1, #main2, #main5 {
        font-size: 14px;
    }
    #products ._1, #products ._2 {
        padding-bottom: 10vh;
    }
    #products ._1 {
        padding-top: 5vh;
        padding-bottom: 10vh;
    }
    #products .sec1, #products .sec2 {
        margin-bottom: 10%;
        position: relative;
        margin-left: 1vw;
        height: 280px;
    }
    .con1, .con2, .con3, .con4, .con5, .con6 {
        height: min-content;
    }
    /* .con1 .back, .con1 .next, .con2 .back, .con2 .next, .con3 .back, .con3 .next, .con4 .back, .con4 .next, .con5 .back, .con5 .next, .con6 .back, .con6 .next {
        width: 70px;
        height: 70px;
        position: absolute;
        margin-top: 40%;
        transform: translateY(-50%);
    }
    .back {
        left: 1.5%;
    }
    .next {
        right: 1.5%;
    } */
    .more {
        margin-top: 10px;
        margin-bottom: 50px;
        width: 130px;
        height: 36px;
        background-color: transparent;
        border: 2px solid orangered;
        color: orangered;
        /* border-radius: 10px; */
        font-size: 19px;
        /* font-weight: bold; */
        font-family: 'Sansita Swashed', sans-serif;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
    #products .back, #products .next {
        width: 35px;
        margin-top: 26.5%;
    }
    #products .next {
        display: block;
    }
}

/* Tab Screens */

@media only screen and (max-width: 900px) and (min-width: 500px) {
    #products h2 {
        font-size: 44px;
    }
    #products ._1 {
        padding-top: 6vh;
        padding-bottom: 6vh;
    }
    #products ._2 {
        padding-top: 6vh;
        padding-bottom: 6vh;
    }
    .canvas img, .pencile img, .customize img {
        width: 210px;
    }
    #main1, #main2, #main5 {
        font-size: 28px;
    }
    #products .sec1, #products .sec2 {
        position: relative;
        height: 480px;
    }
    /* ***************** */
    #products .con1 .sec1 {
        margin-left: 2.5vw;
        /* margin-left: -7vw; */
    }
    #products .con2 .sec2 {
        margin-left: 2.5vw;
        /* margin-left: -62.5vw; */
    }
    #products .con3 .sec1 {
        margin-left: 2.5vw;
        /* margin-left: -7vw; */
    }
    #products .con4 .sec2 {
        margin-left: 2.5vw;
        /* margin-left: -7vw; */
    }
    #products .con5 .sec1 {
        margin-left: 2.5vw;
        /* margin-left: -7vw; */
    }
    #products .con6 .sec2 {
        margin-left: 2.5vw;
        /* margin-left: -7vw; */
    }
    #main1 {
        margin: 0 3vw1.5
    }
    #main2 {
        margin: 0 3vw;
    }
    #main5 {
        margin: 0 3vw;
    }
    /* ***************** */
    /* .canvas .sec1 {
        
        position: relative;
        left: 1.5vw;
    } */
    /* .con1 .back, .con1 .next, .con2 .back, .con2 .next, .con3 .back, .con3 .next, .con4 .back, .con4 .next, .con5 .back, .con5 .next, .con6 .back, .con6 .next {
        width: 60px;
        height: 60px;
        position: absolute;
        margin-top: 15%;
        transform: translateY(-50%);
    }
    .canvas .con1 .back, .canvas .con1 .next {
        position: absolute;
        margin-top: 16%;
        transform: translateY(-50%);
    }
    .customize .con5 .back, .customize .con6 .next {
        position: absolute;
        margin-top: 40%;
        transform: translateY(-50%);
    }
    .back {
        left: 1.5%;
    }
    .next {
        right: 1.5%;
    } */
    /* .canvas .con2 {
        margin: 0 1.5vw;
    }
    .customize .con1 {
        margin: 0 1.2vw;
    } */
    #sec6 {
        padding-bottom: 6vh;
    }
    .more {
        margin-top: 60px;
        margin-bottom: 120px;
        width: 185px;
        height: 55px;
        background-color: transparent;
        border: 2px solid orangered;
        color: orangered;
        border-radius: 10px;
        font-size: 28px;
        /* font-weight: bold; */
        font-family: 'Sansita Swashed', sans-serif;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
    #products .back, #products .next {
        width: 70px;
        /* height: 70px; */
        position: absolute;
        margin-top: 20%;
        /* transform: translateY(-50%); */
        cursor: pointer;
        /* opacity: 0.9; */
        z-index: 20;
        /* display: block; */
    }
    #products .back {
        left: 2.5vw;
        display: none;
    }
    #products .next {
        right: 2.5vw;
        display: block;
    }
}

#footer {
    margin-top: -40px;
    height: 34vh;
    background-color: #000;
}

#footer p {
    color: aliceblue;
    margin-left: 37%;
    padding-top: 1%;
    font-size: 1.6em;
}

#footer h1 {
    margin-top: 12px;
    margin-left: 44%;
    color: aliceblue;
}

.fab {
    margin-left: 44%;
    size: 100px;
    color: #fff;
}

/* Mobiles Screen */

@media only screen and (max-width: 440px) {
    #footer {
        margin-top: -10px;
    }
    #footer p {
        /* color: #fff; */
        margin-left: 20%;
        padding-top: 5%;
        font-size: 1em;
    }
}

/* Tab Screens */

@media only screen and (max-width: 1360px) and (min-width: 500px) {
    #footer p {
        /* color: #fff; */
        margin-left: 24%;
        padding-top: 5%;
        font-size: 2em;
    }
}